*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
}

/* Mix */
.background-color{
  background-color: #EAEAEA;
}

/* Main container */
.background-container{
  height: 100vh;
  background: linear-gradient(to top, #dbdbd2 86%, #009688 86%);
}

.boolzapp-container{
  width: 95%;
  height: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.boolzapp{
  height: 95%;
  width: 100%;
  background-color: pink;
  display: flex;
}
/* /Main container */

/* Nav details */
.main-nav{
  height: 100%;
  width: 370px;
  background-color: #ffff;
}

.header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-right: 1px solid lightgrey;
}
.left-nav{
  display: flex;
  align-items: center;
}
.profile-pic{
  width: 45px;
  height: 45px;
  border-radius: 50%;
  margin: 7px;
}

.right-nav i{
  padding: 5px;
}

.nav-actions{
  color: #B1B1B1;
  margin-right: 8px;
}

.notify-nav{
  background-color: #8EDAFC;
  display: flex;
  align-items: center;
  padding: 7px 0px;
}

.notify-nav i{
  color: #8EDAFC;
  font-size: 15px;
  border-radius: 50%;
  background-color: #fff;
  padding: 12px;
  margin: 7px;
}

.notify-txt a{
  color: grey;
}

.chat-section{
  padding: 7px;
  background-color: #FAFAFA;
  display: flex;
  align-items: center;
}

input{
  width: 100%;
  border: 1px solid lightgrey;
  padding: 5px;
}

input:focus{
  outline: none;
}

.chat-section i{
  color: #B1B1B1;
  border: 1px solid lightgrey;
  padding: 11px 12px 4px 12px;
  border-right: none;
  background-color: #fff;
}

#chat-list{
  height: calc(100% - 170px);
  overflow: auto;
}

.chat-user{
  display: flex;
  border-bottom: 1px solid lightgrey;
  padding-left: 10px;
}

.chat-user p{
  margin-top: 7px;
  margin-left: 10px;
}

#chat-list .chat-user:first-child{
  background-color: #E9EBEB;
}

/* /Nav details */

/* Main Chat */

.main-chat{
  width: calc(100% - 370px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#timing{
  font-size: 12px;
  color: grey;
}

.texting-area{
  height: calc(100% - 110px);
  background-image: url(../img/mine.jpg);
  overflow: auto;
}

.bottom-chat{
  background-color: #F3EEEA;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0px;
}

.bottom-actions{
  color: #6B7376;
  padding: 0px 40px;
}

.bottom-chat input{
  border-radius: 3px;
}
/* /Main Chat */


.my-message{
  display: flex;
  margin-bottom: 10px;
  margin-right: 50px;
}

.texting-area .my-message:first-child{
  margin-top: 70px;
}

.sent{
  background-color: #D5F9BA;
  padding: 10px 15px 5px 20px;
  border-radius: 8px;
  max-width: 400px;
  margin-left: auto;
}

.sent .text{
  padding-right: 120px;
}

.date-info {
  text-align: right;
  padding-right: 8px;
  font-size: 12px;
  color: lightgrey;
}

.friends-message{
  display: flex;
  margin-left: 50px;
  margin-bottom:10px;
}

.received{
  background-color: #ffff;
  padding: 10px 15px 5px 20px;
  border-radius: 8px;
  max-width: 400px;
  margin-right: 35px;
}

.received p:first-child{
  margin-right: 50px;
}

.received p:nth-child(2){
  margin-left: 87px;
}

@media screen and (max-width: 900px) {
  .main-nav{
    width: 250px;
  }
  .main-chat{
    width: calc(100% - 250px);
  }
  .right-nav{
    display: none;
  }
  .notify-nav i{
    font-size: 10px;
    padding: 8px;
  }
  .notify-txt p{
    font-size: 12px;
  }
  .chat-section .fa-search{
    display: none;
  }
}
