<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <!-- Google Font -->
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
  <!-- Font-awesome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
  <!-- Vue -->
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <!-- CSS -->
  <link rel="stylesheet" href="css/style.css">
  <title>Document</title>
</head>
<body>

<div id="boolzapp-js" class="background-container">
  <div class="boolzapp-container">
    <div class="boolzapp">
      <!-- Lateral Nav -->
      <aside class="main-nav">
        <section class="header background-color">
          <div class="left-nav">
            <img class="profile-pic" src="img/avatar_io.jpg" alt="profile-pic">
            <p>Francesca</p>
          </div>
          <div class="right-nav">
            <a href="#"><i class="nav-actions fas fa-circle-notch"></i></a>
            <a href="#"><i class="nav-actions fas fa-comment-alt"></i></a>
            <a href="#"><i class="nav-actions fas fa-ellipsis-v"></i></a>
          </div>
        </section>
        <section class="notify-nav">
          <i class="fas fa-bell-slash"></i>
          <div class="notify-txt">
            <p>Ricevi notifiche di nuovi messaggi</p>
            <a href="#"><p>Attiva notifiche desktop</p></a>
          </div>
        </section>
        <section class="chat-section">
          <label for="chat-research"><a href="#"><i class="fas fa-search"></i></a></label>
          <input id="chat-research" type="text" value="Cerca o inizia una nuova chat" v-model="searchedContact">
        </section>
        <section>
          <div v-for="(item, index) in contacts" @click="contactActive(index)" class="chat-user" v-show="searchContact(item)">
            <img class="profile-pic" :src="contacts[index].avatar" alt="chat-user">
            <p>{{item.name}}</p>
          </div>
        </section>
      </aside>
      <!-- /Lateral Nav -->

      <!-- Main chat section -->
      <section class="main-chat">
        <!-- Header -->
        <div class="header background-color">
          <div class="left-nav">
            <img class="profile-pic" :src="contacts[indiceAttivo].avatar" alt="profile-pic">
            <div class="access-info">
              <p>{{contacts[indiceAttivo].name}}</p>
              <p id="timing">Ultimo accesso oggi alle: {{contacts[indiceAttivo].accessTime}}</p>
            </div>
          </div>
          <div class="right-nav">
            <a href="#"><i class="nav-actions fas fa-search"></i></a>
            <a href="#"><i class="nav-actions fas fa-paperclip"></i></a>
            <a href="#"><i class="nav-actions fas fa-ellipsis-v"></i></a>
          </div>
        </div>
        <!-- /Header -->

        <!-- Chat area -->
        <div class="texting-area">
          <div v-for="item in contacts[indiceAttivo].messages" class="my-message" >
            <div class="bubble" :class="item.status">
              <p class="text">{{item.message}}</p>
              <div class="flex">
                <p class="date-info">{{item.time}}</p>
                <div class="visual">
                  <i class="fas fa-angle-down" @click="callToAction(index)"></i>
                </div>
                <div  >
                  <div class="">
                    <!-- <ul>
                      <li>info messaggio</li>
                    </ul> -->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- /Chat area-->

        <div class="emoji-panel" :class= " openEmoji == true? 'open' : 'close' ">
          <ul class="emoji-list">
            <li class='emoticon' v-for="(emoji, index) in emoticons" @click="addEmoji(index)">{{emoticons[index]}}</li>
          </ul>
        </div>

        <!-- Bottom chat -->
        <div class="bottom-chat">
          <i class="bottom-actions far fa-smile" @click='callToEmoji'></i>
          <input type="text" placeholder="Scrivi un messaggio" v-model="newMessage" @keyup.enter="addNewMessage">
          <i class="bottom-actions fas fa-microphone"></i>
        </div>
        <!-- /Bottom chat -->

      </section>
      <!-- /Main chat section -->
    </div>
  </div>
</div>


  <script src="js/script.js" charset="utf-8"></script>
</body>
</html>
